<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:replace="fragments/common :: header">Validator</title>
        <link rel="stylesheet" th:href="@{/css/style-csv.css}"/>
        <script th:src="@{/webjars/codemirror/5.50.0/mode/mathematica/mathematica.js}"></script>
        <script th:src="@{/js/lib/FileSaver.min.js}"></script>
        <script th:src="@{/js/itb-upload-csv.js}"></script>
        <script th:if="${report}" th:inline="text">
        /*<![CDATA[*/
            getReportData("[[${inputID}]]");
        /*]]>*/
        </script>
        <script th:inline="javascript">
            var externalArtifacts = {};
            [# th:each="artifactInfoEntry : ${externalArtifactInfo}"]
                externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]] = {}
                [# th:each="artifactTypeInfoEntry : ${artifactInfoEntry.value}"]
                    externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]][[# th:text="${artifactTypeInfoEntry.key}" /]] = [# th:text="${artifactTypeInfoEntry.value}" /];
                [/]
            [/]
            var settingInputs = { headers: {}, delimiter: {}, quote: {}, differentInputFieldCount: {}, differentInputFieldSequence: {}, unknownInputField: {}, unspecifiedSchemaField: {}, inputFieldCaseMismatch: {}, duplicateInputFields: {}, multipleInputFieldsForSchemaField: {} };
            [# th:each="entry : ${config.csvOptions.userInputForHeader}"]
                settingInputs.headers[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.inputHasHeader.get(entry.key)}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForDelimiter}"]
                settingInputs.delimiter[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForQuote}"]
                settingInputs.quote[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForDifferentInputFieldCount}"]
                settingInputs.differentInputFieldCount[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.differentInputFieldCount.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForDifferentInputFieldSequence}"]
                settingInputs.differentInputFieldSequence[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.differentInputFieldSequence.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForUnknownInputField}"]
                settingInputs.unknownInputField[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.unknownInputField.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForUnspecifiedSchemaField}"]
                settingInputs.unspecifiedSchemaField[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.unspecifiedSchemaField.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForInputFieldCaseMismatch}"]
                settingInputs.inputFieldCaseMismatch[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.inputFieldCaseMismatch.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForDuplicateInputFields}"]
                settingInputs.duplicateInputFields[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.duplicateInputFields.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForMultipleInputFieldsForSchemaField}"]
                settingInputs.multipleInputFieldsForSchemaField[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.multipleInputFieldsForSchemaField.get(entry.key).getName()}]] }
            [/]
            configure({
                externalArtifactFileLabel: [[${config.label.optionContentFile}]],
                externalArtifactURILabel: [[${config.label.optionContentURI}]],
                externalArtifactSettings: {
                    default: {
                        filePlaceholder: [[${config.label.externalSchemaPlaceholder}]],
                        maxCount: 1
                    }
                },
                codeTypeObj: "mathematica",
                isMinimalUI: [[${minimalUI}]],
                artifactTypes: ['default'],
                externalArtifacts: externalArtifacts
            });
        </script>
        </script>
    </head>
    <body th:class="${not minimalUI} ? body-ui : ''">
        <div th:classappend="${not minimalUI} ? view-section-ui : ''" class="container view-section">
            <div class="view-section-input" th:if="${!minimalUI || report == null}">
                <div th:replace="fragments/input :: pageHeader(${config}, ${minimalUI})"/>
                <form method="POST" enctype="multipart/form-data" th:action="@{${not minimalUI ? 'upload' : 'uploadm'}}" class="form-horizontal" novalidate="novalidate">
                    <div th:class="${minimalUI} ? panel-default : ''" th:classappend="${minimalUI} ? panel : ''">
                        <div th:replace="fragments/input :: formHeader(${config}, ${minimalUI})"/>
                        <div th:class="${minimalUI} ? panel-body : ''">
                            <div th:replace="fragments/input :: mainForm(${config})"/>
                            <div th:replace="fragments/input :: externalArtifactCheck(${config.label.includeExternalArtefacts}, ${config.label.externalArtefactsTooltip})"/>
                            <div th:replace="fragments/input :: externalArtifactControl('default', ${config.label.externalSchemaLabel})"/>
                            <div id="csvSettingsDiv">
                                <div id="csvSettingsCheckDiv" class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="csvSettingsCheck" name="csvSettingsCheck" onclick="toggleCsvSettings()"> <span th:text="${config.label.includeCsvSyntax}">Specify CSV syntax settings</span>
                                            </label>
                                            <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${config.label.includeCsvSyntaxTooltip}"><i class="far fa-question-circle"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div id="csvSettingsForm" class="form-group">
                                    <div id="settingsDiv">
                                        <label class="col-sm-2 control-label" th:text="${config.label.csvSyntax}">CSV syntax</label>
                                        <div class="col-sm-10">
                                            <div class="row setting-input-container">
                                                <div id="csvSettingsFormDelimiter" class="col-sm-2 setting-input">
                                                    <div class="setting-control">
                                                        <input type="text" th:placeholder="${config.label.csvSyntaxDelimiterPlaceholder}" class="form-control" id="inputDelimiter" name="inputDelimiter" maxlength="1" onchange="syntaxInputChanged()"/>
                                                    </div>
                                                    <div class="setting-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${config.label.csvSyntaxDelimiterTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>
                                                <div id="csvSettingsFormQuote" class="col-sm-2 setting-input">
                                                    <div class="setting-control">
                                                        <input type="text" th:placeholder="${config.label.csvSyntaxQuotePlaceholder}" class="form-control" id="inputQuote" name="inputQuote" maxlength="1" onchange="syntaxInputChanged()"/>
                                                    </div>
                                                    <div class="setting-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${config.label.csvSyntaxQuoteTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>
                                                <div id="csvSettingsFormHeaders" class="col-sm-6">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="inputHeaders" name="inputHeaders" onchange="headerCheckChanged()"> <span th:text="${config.label.csvSyntaxHeaders}">Content has header</span>
                                                        </label>
                                                        <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${config.label.csvSyntaxHeadersTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="violationDiv" class="col-sm-offset-2 col-sm-10">
                                        <div id="violationDivContainer" class="violation-table-container with-top-margin">
                                            <div class="violation-table-header">Violation levels for findings on input field headers</div>
                                            <div class="violation-table">

                                                <div id="csvSettingsFormDifferentInputFieldCount" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${config.label.differentInputFieldCountViolationLevel}">differentInputFieldCountViolationLevel</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormDifferentInputFieldCountControl" name="inputDifferentInputFieldCountViolationLevel" class="form-control">
                                                            <option value="error" th:text="${config.label.violationLevelError}">Error</option>
                                                            <option value="warning" th:text="${config.label.violationLevelWarning}">Warning</option>
                                                            <option value="info" th:text="${config.label.violationLevelInfo}">Information message</option>
                                                            <option value="none" th:text="${config.label.violationLevelNone}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${config.label.differentInputFieldCountViolationLevelTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormDifferentInputFieldSequence" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${config.label.differentInputFieldSequenceViolationLevel}">csvSettingsFormDifferentInputFieldSequence</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormDifferentInputFieldSequenceControl" name="inputDifferentInputFieldSequenceViolationLevel" class="form-control">
                                                            <option value="error" th:text="${config.label.violationLevelError}">Error</option>
                                                            <option value="warning" th:text="${config.label.violationLevelWarning}">Warning</option>
                                                            <option value="info" th:text="${config.label.violationLevelInfo}">Information message</option>
                                                            <option value="none" th:text="${config.label.violationLevelNone}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${config.label.differentInputFieldSequenceViolationLevelTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormUnknownInputField" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${config.label.unknownInputViolationLevel}">unknownInputViolationLevel</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormUnknownInputFieldControl" name="inputUnknownInputViolationLevel" class="form-control">
                                                            <option value="error" th:text="${config.label.violationLevelError}">Error</option>
                                                            <option value="warning" th:text="${config.label.violationLevelWarning}">Warning</option>
                                                            <option value="info" th:text="${config.label.violationLevelInfo}">Information message</option>
                                                            <option value="none" th:text="${config.label.violationLevelNone}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${config.label.unknownInputViolationLevelTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormUnspecifiedSchemaField" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${config.label.unspecifiedSchemaFieldViolationLevel}">unspecifiedSchemaField</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormUnspecifiedSchemaFieldControl" name="inputUnspecifiedSchemaFieldViolationLevel" class="form-control">
                                                            <option value="error" th:text="${config.label.violationLevelError}">Error</option>
                                                            <option value="warning" th:text="${config.label.violationLevelWarning}">Warning</option>
                                                            <option value="info" th:text="${config.label.violationLevelInfo}">Information message</option>
                                                            <option value="none" th:text="${config.label.violationLevelNone}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${config.label.unspecifiedSchemaFieldViolationLevelTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormInputFieldCaseMismatch" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${config.label.fieldCaseMismatchViolationLevel}">fieldCaseMismatchViolationLevel</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormInputFieldCaseMismatchControl" name="inputFieldCaseMismatchViolationLevel" class="form-control">
                                                            <option value="error" th:text="${config.label.violationLevelError}">Error</option>
                                                            <option value="warning" th:text="${config.label.violationLevelWarning}">Warning</option>
                                                            <option value="info" th:text="${config.label.violationLevelInfo}">Information message</option>
                                                            <option value="none" th:text="${config.label.violationLevelNone}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${config.label.fieldCaseMismatchViolationLevelTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormDuplicateInputFields" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${config.label.duplicateInputFieldsViolationLevel}">duplicateInputFieldsViolationLevel</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormDuplicateInputFieldsControl" name="inputDuplicateInputFieldsViolationLevel" class="form-control">
                                                            <option value="error" th:text="${config.label.violationLevelError}">Error</option>
                                                            <option value="warning" th:text="${config.label.violationLevelWarning}">Warning</option>
                                                            <option value="info" th:text="${config.label.violationLevelInfo}">Information message</option>
                                                            <option value="none" th:text="${config.label.violationLevelNone}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${config.label.duplicateInputFieldsViolationLevelTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormMultipleInputFieldsForSchemaField" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${config.label.multipleInputFieldsForSchemaFieldViolationLevel}">multipleInputFieldsForSchemaField</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormMultipleInputFieldsForSchemaFieldControl" name="inputMultipleInputFieldsForSchemaFieldViolationLevel" class="form-control">
                                                            <option value="error" th:text="${config.label.violationLevelError}">Error</option>
                                                            <option value="warning" th:text="${config.label.violationLevelWarning}">Warning</option>
                                                            <option value="info" th:text="${config.label.violationLevelInfo}">Information message</option>
                                                            <option value="none" th:text="${config.label.violationLevelNone}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${config.label.multipleInputFieldsForSchemaFieldViolationLevelTooltip}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div th:replace="fragments/input :: submit(${config}, ${minimalUI})"/>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${report}" th:class="${not minimalUI} ? view-section-result : ''">
                <div th:replace="fragments/output :: reportTitle(${config}, ${minimalUI})"/>
                <div class="panel panel-default">
                    <div th:replace="fragments/output :: reportHeader(${config}, ${minimalUI})"/>
                    <div th:replace="fragments/output :: reportSummary(${config}, true)"/>
                </div>
                <div th:replace="fragments/output :: reportDetails(${config}, ${minimalUI}, true)"/>
            </div>
            <div th:replace="fragments/common :: footer(${config}, ${minimalUI})"/>
        </div>
        <div th:replace="fragments/common :: about">About</div>
        <div th:replace="fragments/common :: buildInfo">Build info</div>
        <input id="validationType" th:if="${!config.hasMultipleValidationTypes()}" type="hidden" th:value="${config.type.get(0)}"/>
    </body>
</html>