<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:replace="fragments/common :: header">Validator</title>
        <link rel="stylesheet" th:href="@{/css/style-csv.css}"/>
        <script th:src="@{/js/lib/FileSaver.min.js}"></script>
        <script th:src="@{/js/itb-upload-csv.js}"></script>
        <script th:inline="javascript">
            var externalArtifacts = {};
            [# th:each="artifactInfoEntry : ${externalArtifactInfo}"]
                externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]] = {}
                [# th:each="artifactTypeInfoEntry : ${artifactInfoEntry.value}"]
                    externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]][[# th:text="${artifactTypeInfoEntry.key}" /]] = [# th:text="${artifactTypeInfoEntry.value}" /];
                [/]
            [/]
            var settingInputs = { headers: {}, delimiter: {}, quote: {}, differentInputFieldCount: {}, differentInputFieldSequence: {}, unknownInputField: {}, unspecifiedSchemaField: {}, inputFieldCaseMismatch: {}, duplicateInputFields: {}, multipleInputFieldsForSchemaField: {} };
            [# th:each="entry : ${config.csvOptions.userInputForHeader}"]
                settingInputs.headers[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.inputHasHeader.get(entry.key)}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForDelimiter}"]
                settingInputs.delimiter[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForQuote}"]
                settingInputs.quote[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForDifferentInputFieldCount}"]
                settingInputs.differentInputFieldCount[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.differentInputFieldCount.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForDifferentInputFieldSequence}"]
                settingInputs.differentInputFieldSequence[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.differentInputFieldSequence.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForUnknownInputField}"]
                settingInputs.unknownInputField[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.unknownInputField.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForUnspecifiedSchemaField}"]
                settingInputs.unspecifiedSchemaField[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.unspecifiedSchemaField.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForInputFieldCaseMismatch}"]
                settingInputs.inputFieldCaseMismatch[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.inputFieldCaseMismatch.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForDuplicateInputFields}"]
                settingInputs.duplicateInputFields[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.duplicateInputFields.get(entry.key).getName()}]] }
            [/]
            [# th:each="entry : ${config.csvOptions.userInputForMultipleInputFieldsForSchemaField}"]
                settingInputs.multipleInputFieldsForSchemaField[[# th:text="${entry.key}" /]] = { control: [[${entry.value}]], defaultValue: [[${config.csvOptions.multipleInputFieldsForSchemaField.get(entry.key).getName()}]] }
            [/]
            configure({
                externalArtifactFileLabel: [[${localiser.localise('validator.label.optionContentFile')}]],
                externalArtifactURILabel: [[${localiser.localise('validator.label.optionContentURI')}]],
                externalArtifactSettings: {
                    default: {
                        filePlaceholder: [[${localiser.localise('validator.label.externalSchemaPlaceholder')}]],
                        maxCount: 1
                    }
                },
                codeTypeObj: "null",
                isMinimalUI: [[${minimalUI}]],
                artifactTypes: ['default'],
                externalArtifacts: externalArtifacts
            });
        </script>
        <script th:inline="javascript" th:if="${reportData}">
            $(document).ready(function() {
                displayReport([(${reportData})]);
            });
        </script>
    </head>
    <body th:class="${not minimalUI} ? body-ui : ''">
        <div th:classappend="${not minimalUI} ? view-section-ui : ''" class="container view-section">
            <div class="view-section-input" th:classappend="${minimalUI} ? 'minimal-ui' : 'normal-ui'" th:if="${!minimalUI || report == null}">
                <div th:replace="fragments/input :: pageHeader(${config}, ${minimalUI})"/>
                <form method="POST" enctype="multipart/form-data" th:action="@{${not minimalUI ? 'upload' : 'uploadm'}}" class="form-horizontal" novalidate="novalidate">
                    <div th:class="${minimalUI} ? panel-default : ''" th:classappend="${minimalUI} ? panel : ''">
                        <div th:replace="fragments/input :: formHeader(${config}, ${minimalUI})"/>
                        <div th:class="${minimalUI}?'panel-body panel-body-minimal':''">
                            <div th:replace="fragments/input :: mainForm(${config})"/>
                            <div th:replace="fragments/input :: externalArtifactCheck(${localiser.localise('validator.label.includeExternalArtefacts')}, ${localiser.localise('validator.label.externalArtefactsTooltip')})"/>
                            <div th:replace="fragments/input :: externalArtifactControl('default', ${localiser.localise('validator.label.externalSchemaLabel')})"/>
                            <div id="csvSettingsDiv" class="hidden">
                                <div id="csvSettingsCheckDiv" class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="csvSettingsCheck" name="csvSettingsCheck" onclick="toggleCsvSettings()"> <span th:text="${localiser.localise('validator.label.includeCsvSyntax')}">Specify CSV syntax settings</span>
                                            </label>
                                            <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${localiser.localise('validator.label.includeCsvSyntaxTooltip')}"><i class="far fa-question-circle"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div id="csvSettingsForm" class="form-group">
                                    <div id="settingsDiv">
                                        <label class="col-sm-2 control-label" th:text="${localiser.localise('validator.label.csvSyntax')}">CSV syntax</label>
                                        <div class="col-sm-10">
                                            <div class="row setting-input-container">
                                                <div id="csvSettingsFormDelimiter" class="col-sm-2 setting-input">
                                                    <div class="setting-control">
                                                        <input type="text" th:placeholder="${localiser.localise('validator.label.csvSyntaxDelimiterPlaceholder')}" class="form-control" id="inputDelimiter" name="inputDelimiter" maxlength="1" onchange="syntaxInputChanged()"/>
                                                    </div>
                                                    <div class="setting-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${localiser.localise('validator.label.csvSyntaxDelimiterTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>
                                                <div id="csvSettingsFormQuote" class="col-sm-2 setting-input">
                                                    <div class="setting-control">
                                                        <input type="text" th:placeholder="${localiser.localise('validator.label.csvSyntaxQuotePlaceholder')}" class="form-control" id="inputQuote" name="inputQuote" maxlength="1" onchange="syntaxInputChanged()"/>
                                                    </div>
                                                    <div class="setting-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${localiser.localise('validator.label.csvSyntaxQuoteTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>
                                                <div id="csvSettingsFormHeaders" class="col-sm-6">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="inputHeaders" name="inputHeaders" onchange="headerCheckChanged()"> <span th:text="${localiser.localise('validator.label.csvSyntaxHeaders')}">Content has header</span>
                                                        </label>
                                                        <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${localiser.localise('validator.label.csvSyntaxHeadersTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="violationDiv" class="col-sm-offset-2 col-sm-10">
                                        <div id="violationDivContainer" class="violation-table-container with-top-margin">
                                            <div class="violation-table-header" th:text="${localiser.localise('validator.label.violationLevelHeader')}">Violation levels for findings on input field headers</div>
                                            <div class="violation-table">

                                                <div id="csvSettingsFormDifferentInputFieldCount" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${localiser.localise('validator.label.differentInputFieldCountViolationLevel')}">differentInputFieldCountViolationLevel</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormDifferentInputFieldCountControl" name="inputDifferentInputFieldCountViolationLevel" class="form-control">
                                                            <option value="error" th:text="${localiser.localise('validator.label.violationLevelError')}">Error</option>
                                                            <option value="warning" th:text="${localiser.localise('validator.label.violationLevelWarning')}">Warning</option>
                                                            <option value="info" th:text="${localiser.localise('validator.label.violationLevelInfo')}">Information message</option>
                                                            <option value="none" th:text="${localiser.localise('validator.label.violationLevelNone')}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${localiser.localise('validator.label.differentInputFieldCountViolationLevelTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormDifferentInputFieldSequence" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${localiser.localise('validator.label.differentInputFieldSequenceViolationLevel')}">csvSettingsFormDifferentInputFieldSequence</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormDifferentInputFieldSequenceControl" name="inputDifferentInputFieldSequenceViolationLevel" class="form-control">
                                                            <option value="error" th:text="${localiser.localise('validator.label.violationLevelError')}">Error</option>
                                                            <option value="warning" th:text="${localiser.localise('validator.label.violationLevelWarning')}">Warning</option>
                                                            <option value="info" th:text="${localiser.localise('validator.label.violationLevelInfo')}">Information message</option>
                                                            <option value="none" th:text="${localiser.localise('validator.label.violationLevelNone')}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${localiser.localise('validator.label.differentInputFieldSequenceViolationLevelTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormUnknownInputField" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${localiser.localise('validator.label.unknownInputViolationLevel')}">unknownInputViolationLevel</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormUnknownInputFieldControl" name="inputUnknownInputViolationLevel" class="form-control">
                                                            <option value="error" th:text="${localiser.localise('validator.label.violationLevelError')}">Error</option>
                                                            <option value="warning" th:text="${localiser.localise('validator.label.violationLevelWarning')}">Warning</option>
                                                            <option value="info" th:text="${localiser.localise('validator.label.violationLevelInfo')}">Information message</option>
                                                            <option value="none" th:text="${localiser.localise('validator.label.violationLevelNone')}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${localiser.localise('validator.label.unknownInputViolationLevelTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormUnspecifiedSchemaField" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${localiser.localise('validator.label.unspecifiedSchemaFieldViolationLevel')}">unspecifiedSchemaField</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormUnspecifiedSchemaFieldControl" name="inputUnspecifiedSchemaFieldViolationLevel" class="form-control">
                                                            <option value="error" th:text="${localiser.localise('validator.label.violationLevelError')}">Error</option>
                                                            <option value="warning" th:text="${localiser.localise('validator.label.violationLevelWarning')}">Warning</option>
                                                            <option value="info" th:text="${localiser.localise('validator.label.violationLevelInfo')}">Information message</option>
                                                            <option value="none" th:text="${localiser.localise('validator.label.violationLevelNone')}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${localiser.localise('validator.label.unspecifiedSchemaFieldViolationLevelTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormInputFieldCaseMismatch" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${localiser.localise('validator.label.fieldCaseMismatchViolationLevel')}">fieldCaseMismatchViolationLevel</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormInputFieldCaseMismatchControl" name="inputFieldCaseMismatchViolationLevel" class="form-control">
                                                            <option value="error" th:text="${localiser.localise('validator.label.violationLevelError')}">Error</option>
                                                            <option value="warning" th:text="${localiser.localise('validator.label.violationLevelWarning')}">Warning</option>
                                                            <option value="info" th:text="${localiser.localise('validator.label.violationLevelInfo')}">Information message</option>
                                                            <option value="none" th:text="${localiser.localise('validator.label.violationLevelNone')}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${localiser.localise('validator.label.fieldCaseMismatchViolationLevelTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormDuplicateInputFields" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${localiser.localise('validator.label.duplicateInputFieldsViolationLevel')}">duplicateInputFieldsViolationLevel</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormDuplicateInputFieldsControl" name="inputDuplicateInputFieldsViolationLevel" class="form-control">
                                                            <option value="error" th:text="${localiser.localise('validator.label.violationLevelError')}">Error</option>
                                                            <option value="warning" th:text="${localiser.localise('validator.label.violationLevelWarning')}">Warning</option>
                                                            <option value="info" th:text="${localiser.localise('validator.label.violationLevelInfo')}">Information message</option>
                                                            <option value="none" th:text="${localiser.localise('validator.label.violationLevelNone')}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${localiser.localise('validator.label.duplicateInputFieldsViolationLevelTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                                <div id="csvSettingsFormMultipleInputFieldsForSchemaField" class="violation-table-row">
                                                    <div class="violation-table-label">
                                                        <span class="form-control-static" th:text="${localiser.localise('validator.label.multipleInputFieldsForSchemaFieldViolationLevel')}">multipleInputFieldsForSchemaField</span>
                                                    </div>
                                                    <div class="violation-table-control">
                                                        <select id="csvSettingsFormMultipleInputFieldsForSchemaFieldControl" name="inputMultipleInputFieldsForSchemaFieldViolationLevel" class="form-control">
                                                            <option value="error" th:text="${localiser.localise('validator.label.violationLevelError')}">Error</option>
                                                            <option value="warning" th:text="${localiser.localise('validator.label.violationLevelWarning')}">Warning</option>
                                                            <option value="info" th:text="${localiser.localise('validator.label.violationLevelInfo')}">Information message</option>
                                                            <option value="none" th:text="${localiser.localise('validator.label.violationLevelNone')}">None</option>
                                                        </select>
                                                    </div>
                                                    <div class="violation-table-tooltip">
                                                        <span data-toggle="tooltip" data-container="body" th:attr="title=${localiser.localise('validator.label.multipleInputFieldsForSchemaFieldViolationLevelTooltip')}"><i class="far fa-question-circle"></i></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div th:replace="fragments/input :: submit(${config}, ${minimalUI})"/>
                        </div>
                        <div th:if="${minimalUI}" id="reportPlaceholder"></div>
                    </div>
                </form>
            </div>
            <th:block th:if="${!minimalUI}">
                <div id="reportPlaceholder"></div>
                <div th:replace="fragments/common :: localeSelector(${config}, ${localiser.getLocale()})"/>
            </th:block>
            <div th:replace="fragments/common :: footer(${config}, ${minimalUI})"/>
        </div>
        <div th:replace="fragments/common :: about">About</div>
        <div th:replace="fragments/common :: buildInfo">Build info</div>
    </body>
</html>